# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment
.env
*.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Keys
*.pem
